table,th,td{
    border: 2px solid red;
    background-color: lightcoral;
}
table{
    width:50%;
}
label{
    color: royalblue;
}
input[type=text],input[type=password]{
    box-sizing: content-box;
    border: 2px solid lawngreen;
    background-color: lightblue;
}
input[type=button]{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}