.a1{
    color: blue;
}
.a2{
    color: blueviolet;
}
.b1{
    width: 50%;
    height: 75%;
    background-image: url('back1.jpg');
}
.b2{
    width: 50%;
    height: 75%;
    background-image: url('back2.jpg');
}
.b3{
    width: 50%;
    height: 75%;
    background-image: url('back3.jpg');
}
.c1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: small;
    font-weight: 100;
    font-variant: small-caps;

}
.c2{
    font-family: cursive;
    font-size: large;
    font-style: italic;
    font-weight: 200;
    font-variant: inherit;
}
.c3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 300;
    font-style: initial;
    font-variant: inherit;
}