ul{
    list-style-type: none;
    border:2px solid red;
    background-color: slategrey;
}
ul a{
    display: inline-block;
    text-decoration: none;
    margin: 10px;
    color: darkmagenta;
    border:2px solid chocolate
}
ul a:hover{
      color: coral;
      background-color: cyan;
      font-size: x-large;
      text-decoration: underline;
}
ul a:active{
    color: darkblue;
}