.a1{
    color: aqua;
    font-size: small;
    font-style: italic;
    font-variant: small-caps;
}
.a2{
    color:brown;
    font-size: x-large;
    font-style: oblique;
    font-variant: initial;
}
.a3{
    color: lawngreen;
    font-size:small ;
    font-style: normal;
    font-variant: inherit;
}